.LayoutContainer{
    display: flex;
    position: relative;
}

.layoutContent{
    width: 100%;
    margin-top: 80px;
    padding: 0 80px;
    z-index: 0;
}

.topBar{
    top: 0px;
    left: 80px;
    padding-right: 50px;
    display: flex;
    height: 80px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 130px);
    border-bottom: 1px solid #e9eff4;
}

.link-topbar{
    margin: 10px;
    text-decoration: none;
    color: #424242;
}